In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
all_properties = pd.read_csv("../houses_all_properties.csv")
all_properties.head()

,address,parking,type,num_schools,cost,suburb,beds,baths,cost/(beds+baths),geometry,...,NUMBER_OF_JOBS_PERSONS_2018-19,NUMBER_OF_JOBS_PERSONS_2019-20,NUMBER_OF_JOBS_PERSONS_2020-21,MEDIAN_INCOME_PERSONS_2016-17,MEDIAN_INCOME_PERSONS_2017-18,MEDIAN_INCOME_PERSONS_2018-19,MEDIAN_INCOME_PERSONS_2019-20,MEDIAN_INCOME_PERSONS_2020-21,centroid,distance_to_centroid
0,"(Leased) 3 Yarra Street, South Yarra VIC 3141",1,Apartment / Unit / Flat,13,460.0,South Yarra,1,1,230.00,POINT (144.992828 -37.838173),...,13060.0,12759.0,12394.0,26306.5,27750.5,29043.5,32390.5,34577.5,POINT (144.9965000772275 -37.83614617221807),0.004194
1,"004B/12 Albert Street, Hawthorn East VIC 3123",0,Apartment / Unit / Flat,14,400.0,Hawthorn East,1,1,200.00,POINT (145.048408 -37.823472),...,15422.0,14730.0,14159.0,26100.5,27117.0,26803.5,31088.0,34211.0,POINT (145.04991149745675 -37.83126983822268),0.007941
2,"04/949 Dandenong Road, Malvern East VIC 3145",0,Apartment / Unit / Flat,10,365.0,Malvern East,1,1,182.50,POINT (145.048262 -37.878631),...,18950.0,18895.0,19034.0,25636.0,26307.0,25956.5,28608.0,30642.5,POINT (145.065853863916 -37.87682309041124),0.017685
3,"0711/333 Exhibition St, Melbourne VIC 3000",0,Apartment / Unit / Flat,12,675.0,Melbourne,2,2,168.75,POINT (144.96834 -37.807831),...,13693.0,12473.0,11002.0,10656.0,10929.0,11120.5,12060.0,14478.0,POINT (144.96859287539095 -37.812787018836396),0.004962
4,"1 & 2/23 Koonawarra Street, Clayton VIC 3168",1,House,5,340.0,Clayton,1,1,170.00,POINT (145.124589 -37.90863),...,6188.0,6445.0,7536.0,11981.0,12020.0,11625.0,12689.5,12635.0,POINT (145.1381453634467 -37.91053619756948),0.013690

In [44]:
lst = []
lst2 = []
lst3 = []

for i in range(len(all_properties)):
    suburb = all_properties.iloc[i]["suburb"]
    sa2 = all_properties.iloc[i]["SA2_Name"]
    if (suburb in sa2 or sa2 in suburb):
        if suburb != sa2:
            lst.append((suburb, sa2))
        else:
            lst2.append((suburb, sa2))
    else:
        lst3.append((suburb, sa2))
        
print(len(set(lst)))   
print(len(set(lst2))) 
print(len(set(lst3))) 


compare2 = pd.DataFrame(lst3, columns=["suburb", "sa2"])
compare2 = compare2.drop_duplicates()
compare2.to_csv("../compare_suburbs_diff.csv")

284
176
249

In [3]:
for i in range(len(all_properties.columns)):
    print(all_properties.columns[i], list(all_properties.dtypes)[i])

address object
parking int64
type object
num_schools int64
cost float64
suburb object
beds int64
baths int64
cost/(beds+baths) float64
geometry object
closest_train_station_name object
closest_train_station_distance_km float64
closest_tram_station_name object
closest_tram_station_distance_km float64
closest_hospital_name object
closest_hospital_distance_km float64
closest_grocery_name object
closest_grocery_distance_km float64
SA2_Name object
Net_migration_2021_22 int64
Net_migration_2022_23 int64
ERP_per_km2_2001 float64
ERP_per_km2_2002 float64
ERP_per_km2_2003 float64
ERP_per_km2_2004 float64
ERP_per_km2_2005 float64
ERP_per_km2_2006 float64
ERP_per_km2_2007 float64
ERP_per_km2_2008 float64
ERP_per_km2_2009 float64
ERP_per_km2_2010 float64
ERP_per_km2_2011 float64
ERP_per_km2_2012 float64
ERP_per_km2_2013 float64
ERP_per_km2_2014 float64
ERP_per_km2_2015 float64
ERP_per_km2_2016 float64
ERP_per_km2_2017 float64
ERP_per_km2_2018 float64
ERP_per_km2_2019 float64
ERP_per_km2_2020 float64
ERP_per_km2_2021 float64
ERP_per_km2_2022 float64
ERP_per_km2_2023 float64
ERP_increase_2001_2 float64
ERP_increase_2002_3 float64
ERP_increase_2003_4 float64
ERP_increase_2004_5 float64
ERP_increase_2005_6 float64
ERP_increase_2006_7 float64
ERP_increase_2007_8 float64
ERP_increase_2008_9 float64
ERP_increase_2009_10 float64
ERP_increase_2010_11 float64
ERP_increase_2011_12 float64
ERP_increase_2012_13 float64
ERP_increase_2013_14 float64
ERP_increase_2014_15 float64
ERP_increase_2015_16 float64
ERP_increase_2016_17 int64
ERP_increase_2017_18 int64
ERP_increase_2018_19 int64
ERP_increase_2019_20 int64
ERP_increase_2020_21 int64
ERP_increase_2021_22 int64
ERP_increase_2022_23 int64
NUMBER_OF_JOBS_PERSONS_2016-17 float64
NUMBER_OF_JOBS_PERSONS_2017-18 float64
NUMBER_OF_JOBS_PERSONS_2018-19 float64
NUMBER_OF_JOBS_PERSONS_2019-20 float64
NUMBER_OF_JOBS_PERSONS_2020-21 float64
MEDIAN_INCOME_PERSONS_2016-17 float64
MEDIAN_INCOME_PERSONS_2017-18 float64
MEDIAN_INCOME_PERSONS_2018-19 float64
MEDIAN_INCOME_PERSONS_2019-20 float64
MEDIAN_INCOME_PERSONS_2020-21 float64
centroid object
distance_to_centroid float64

In [14]:
columns_to_drop = []

for i in range(2001, 2021):
    columns_to_drop.append(f"ERP_per_km2_{i}")
    
for i in range(2001, 2020):
    columns_to_drop.append(f"ERP_increase_{i}_{i-1999}")
    
for i in range(2016, 2020):
    columns_to_drop.append(f"NUMBER_OF_JOBS_PERSONS_{i}-{i-1999}")
    columns_to_drop.append(f"MEDIAN_INCOME_PERSONS_{i}-{i-1999}")
    
for item in all_properties.columns:
    if "name" in item:
        columns_to_drop.append(item)
    if "centroid" in item:
        columns_to_drop.append(item)
    
dropped = all_properties.drop(columns_to_drop, axis = 1)

dropped = dropped.drop(["address", "cost/(beds+baths)", "suburb", "geometry"], axis = 1)

dropped.dtypes

parking                                int64
type                                  object
num_schools                            int64
cost                                 float64
beds                                   int64
baths                                  int64
closest_train_station_distance_km    float64
closest_tram_station_distance_km     float64
closest_hospital_distance_km         float64
closest_grocery_distance_km          float64
SA2_Name                              object
Net_migration_2021_22                  int64
Net_migration_2022_23                  int64
ERP_per_km2_2021                     float64
ERP_per_km2_2022                     float64
ERP_per_km2_2023                     float64
ERP_increase_2020_21                   int64
ERP_increase_2021_22                   int64
ERP_increase_2022_23                   int64
NUMBER_OF_JOBS_PERSONS_2020-21       float64
MEDIAN_INCOME_PERSONS_2020-21        float64
dtype: object

In [31]:
label = "cost"
categorical = [col for col in dropped.columns if dropped.dtypes[col] == object]
numeric = [col for col in dropped.columns if col not in categorical and col != label]

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import root_mean_squared_error, r2_score

# 1. Split data into features (X) and target (y)
X = dropped[categorical + numeric]
y = dropped[label]

# 2. Perform train-test split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Preprocessing: Handle categorical and numeric features
# Use 'passthrough' for numeric columns (no scaling/normalization for now)
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numeric),  # Leave numeric columns as is
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical)  # One-hot encode categorical columns
    ])

# 4. Define the pipeline: Preprocess first, then fit Linear Regression
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

# 5. Fit the model on the training data
model.fit(X_train, y_train)

# 6. Make predictions on the test set
y_pred = model.predict(X_test)

# 7. Evaluate the model
rmse = root_mean_squared_error(y_test, y_pred)  # Root Mean Squared Error
r2 = r2_score(y_test, y_pred)  # R-squared score

# Print evaluation metrics
print(f'Root Mean Squared Error: {rmse}')
print(f'RÂ² Score: {r2}')

Root Mean Squared Error: 233.93595183137847
RÂ² Score: 0.0393582681181206

In [49]:
stratify_column = 'SA2_Name'

house_counts = all_properties[stratify_column].value_counts()
house_counts

house_counts.to_csv("../house_counts_sa2.csv")

In [93]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import root_mean_squared_error, r2_score

stratify_column = 'SA2_Name'

house_counts = dropped[stratify_column].value_counts()
house_counts

df = dropped.copy(deep=True)
df_filtered = df[df[stratify_column].isin(house_counts[house_counts >= 20].index)]

# 1. Split data into features (X) and target (y)
X = df_filtered[categorical + numeric]
y = df_filtered[label]

# 2. Perform stratified train-test split based on the `stratify_column`
# The 'stratify=df[stratify_column]' ensures the stratification is done based on this column
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=df_filtered[stratify_column]
)

# 3. Preprocessing: Handle categorical and numeric features
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numeric),  # Leave numeric columns as is
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical)  # One-hot encode categorical columns
    ])

# 4. Define the pipeline: Preprocess first, then fit Linear Regression
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

# 5. Fit the model on the training data
model.fit(X_train, y_train)

# 6. Make predictions on the data
y_pred = model.predict(X)

# 7. Evaluate the model
rmse = root_mean_squared_error(y, y_pred)  # Root Mean Squared Error
r2 = r2_score(y, y_pred)  # R-squared score

# Print evaluation metrics
print(f'Root Mean Squared Error: {rmse}')
print(f'RÂ² Score: {r2}')

Root Mean Squared Error: 161.28728403312164
RÂ² Score: 0.5937939306365939

In [146]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score

stratify_column = 'SA2_Name'

house_counts = dropped[stratify_column].value_counts()
house_counts

df = dropped.copy(deep=True)
df_filtered = df[df[stratify_column].isin(house_counts[house_counts >= 20].index)]

# 1. Split data into features (X) and target (y)
X = df_filtered[categorical + numeric]
y = df_filtered[label]

# 2. Perform stratified train-test split based on the stratify_column
# Ensure that both X and y are consistent
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=df_filtered[stratify_column]
)

# 3. Preprocessing: Handle categorical and numeric features
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numeric),  # Leave numeric columns as is
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical)  # One-hot encode categorical columns
    ])

# 4. Define the pipeline: Preprocess first, then fit RandomForest
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(random_state=42))
])

# 5. Fit the model on the training data
model.fit(X_train, y_train)

# 6. Make predictions on the test set
y_pred = model.predict(X)

# 7. Evaluate the model
rmse = root_mean_squared_error(y, y_pred)  # Root Mean Squared Error
r2 = r2_score(y, y_pred)  # R-squared score

# Print evaluation metrics
print(f'Root Mean Squared Error: {rmse}')
print(f'RÂ² Score: {r2}')

Root Mean Squared Error: 84.32532890876307
RÂ² Score: 0.8889644013798556

In [147]:
y_pred_series = pd.Series(y_pred, name='Predicted').reset_index(drop=True)
X_reset = X.reset_index(drop=True)
predicted_test = pd.concat([X_reset, y_pred_series], axis=1)

In [149]:
aggregated_df = predicted_test.groupby("SA2_Name")['Predicted'].median().reset_index(name='SA2_Median')
aggregated_df

                         SA2_Name  SA2_Median
0                      Abbotsford  681.099444
1                     Albert Park  682.578571
2                       Alfredton  464.000000
3          Alphington - Fairfield  649.925000
4                          Altona  573.500000
..                            ...         ...
150    West Footscray - Tottenham  540.050000
151  West Melbourne - Residential  658.600119
152                    Whittlesea  536.462964
153         Wonthaggi - Inverloch  551.710000
154                    Yarraville  634.650000

[155 rows x 2 columns]

In [150]:
threshold_subs = aggregated_df["SA2_Name"].unique()

In [151]:
subs_w_hist = pd.read_csv("../data/curated/suburb_w_hist.csv")
subs_w_hist['Suburb'] = subs_w_hist['Suburb'].replace('Melbourne', 'CBD')

In [152]:
contain = []
not_contain_hist = []

for suburb in subs_w_hist["Suburb"].unique():
    found = False
    for sub in threshold_subs:
        if suburb == sub:
            contain.append((suburb, sub))
            break
        elif suburb in sub:
            contain.append((suburb, sub))
            found = True
    if not found:
        not_contain.append(suburb)
    
comp = pd.DataFrame(contain, columns = ["sub_w_hist", "sa2"])
comp.to_csv("../comp_sub.csv")

In [153]:
len(comp["sa2"].unique())

119

In [154]:
from collections import Counter

count = Counter(comp["sa2"])

duplicate = []

for item in count:
    if count[item] > 1:
        print(item, count[item])
        duplicate.append(item)

Alphington - Fairfield 2
Dandenong North 2
Malvern - Glen Iris 2
Kangaroo Flat - Golden Square 2
Hawthorn East 2
Heidelberg West 2
Malvern East 2
Prahran - Windsor 2
St Kilda East 2

In [158]:
results = []

for suburb in aggregated_df["SA2_Name"]:
    
    if suburb in duplicate:
        if "-" in suburb:
            hist_subs = list(comp[comp["sa2"] == suburb]["sub_w_hist"])
            hist_data = pd.concat([subs_w_hist[subs_w_hist["Suburb"] == hist_subs[0]][['date', 'median_rental_price']], 
                                   subs_w_hist[subs_w_hist["Suburb"] == hist_subs[1]][['date', 'median_rental_price']]])
        else:
            hist_subs = list(comp[comp["sa2"] == suburb]["sub_w_hist"])
            if hist_subs[0] == suburb:
                hist_data = subs_w_hist[subs_w_hist["Suburb"] == hist_subs[0]][['date', 'median_rental_price']]
            else:
                hist_data = subs_w_hist[subs_w_hist["Suburb"] == hist_subs[1]][['date', 'median_rental_price']]
                
    else:
        hist_sub = list(comp[comp["sa2"] == "Altona"]["sub_w_hist"])[0]
        hist_data = subs_w_hist[subs_w_hist["Suburb"] == hist_sub][['date', 'median_rental_price']]
        
    sep_2024_median_df = pd.DataFrame({'date': '2024-09-01', 'median_rental_price': aggregated_df[aggregated_df["SA2_Name"] == suburb]["SA2_Median"]})
    suburb_df = pd.concat([hist_data, sep_2024_median_df], ignore_index=True)
    suburb_df['date'] = pd.to_datetime(suburb_df['date'])
    
    # Use only recent data for linear regression
    suburb_df = suburb_df[suburb_df['date'] >= '2021-01-01']

    # Extract the year from the date
    suburb_df['year'] = suburb_df['date'].dt.year

    # Prepare data for the linear regression model
    X = suburb_df[['year']]  # Independent variable (year)
    y = suburb_df['median_rental_price']  # Dependent variable (rental price)

    # Fit a linear regression model
    model = LinearRegression()
    model.fit(X, y)

    # Forecast for the years 2025, 2026, and 2027
    forecast_years = pd.DataFrame({'year': [2025, 2026, 2027]})
    forecasted_prices = model.predict(forecast_years)

    # Create a DataFrame for the forecast results
    forecast_yearly = pd.DataFrame({
        'Suburb': [suburb] * 3,
        'forecasted_median_rental_price': forecasted_prices
    }, index=[f'2025', f'2026', f'2027'])
    
    results.append(forecast_yearly)

# Combine all suburb forecasts
forecast_df_combined = pd.concat(results)

# Pivot the table to have 'Suburb' as columns and years as rows
final_results = forecast_df_combined.pivot_table(values='forecasted_median_rental_price', index=forecast_df_combined.index, columns='Suburb')

# Transpose and reset the index for the final result
final_df = final_results.T.reset_index()

# Rename the columns for clarity
final_df = final_df.rename(columns={'index': 'Suburb'})

# Reorder the DataFrame columns to have 'Suburb' first, followed by dates
columns_order = ['Suburb'] + [col for col in final_df.columns if col != 'Suburb']

final_df = final_df[columns_order]

In [159]:
final_df.to_csv("../data/curated/future_predict.csv")